@model IEnumerable<project.EDM.tblfaculty>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutTheme.cshtml";
}


<script>
    $(document).ready(function () {
        $.ajax({
            url: "/admin/Admin/Getfaculty",
            type: "GET",
            dataType: "json",
            success: function (facultylist) {
                $.each(facultylist, function (key, item) {
                    $("#tblfaculty").append("<tr>"
                        + "<td>" + item.F_ID + "</td>"
                        + "<td><img src='/Images/" + item.F_Image + "' style='width: 50px' /></td>"
                        + "<td>" + item.F_Name + "</td>"
                        + "<td>" + item.L_Name + "</td>"
                        + "<td>" + item.E_mail + "</td>"
                        
                        //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                        + "</tr>");
                });
            }
        });
        $.ajax({
            url: "/admin/Admin/Getbatch",
            type: "GET",
            dataType: "json",
            success: function (batchlist) {
                console.log(batchlist);
                $.each(batchlist, function (key, item) {

                    var formattedstdate = null;
                    var formattedcrdate = null;
                    if (item.B_ST_DATE != null) {
                        var stdate = (new Date(parseInt(item.B_ST_DATE.substr(6))));

                        const yyyy = stdate.getFullYear();
                        let mm = stdate.getMonth() + 1; // Months start at 0!
                        let dd = stdate.getDate();

                        if (dd < 10) dd = '0' + dd;
                        if (mm < 10) mm = '0' + mm;

                        formattedstdate = dd + '/' + mm + '/' + yyyy;
                    }
                    if (item.B_ST_DATE != null) {
                        var crdate = (new Date(parseInt(item.B_CR_DATE.substr(6))));

                        const yyyy = crdate.getFullYear();
                        let mm = crdate.getMonth() + 1; // Months start at 0!
                        let dd = crdate.getDate();

                        if (dd < 10) dd = '0' + dd;
                        if (mm < 10) mm = '0' + mm;

                        formattedcrdate = dd + '/' + mm + '/' + yyyy;
                    }
                    if (item.B_ST_DATE != null) {
                        var months = new Array(12);
                        months[0] = "January";
                        months[1] = "February";
                        months[2] = "March";
                        months[3] = "April";
                        months[4] = "May";
                        months[5] = "June";
                        months[6] = "July";
                        months[7] = "August";
                        months[8] = "September";
                        months[9] = "October";
                        months[10] = "November";
                        months[11] = "December";

                        var current_date = (new Date(parseInt(item.B_ST_DATE.substr(6))));
                        current_date.setDate(current_date.getDate() + 0);
                        month_value = current_date.getMonth();
                        day_value = current_date.getDate();
                        year_value = current_date.getFullYear();

                        //document.write("The current date is " + months[month_value] + " " + day_value + ", " + year_value);
                        formattedstdate1 = day_value + '_' + months[month_value];

                    }
                    //new Date(parseInt(item.B_ST_DATE(6)))
                    if (item.Status == "Pending") {
                        $("#tblbatch").append("<tr>"
                            + "<td>" + item.B_ID + "</td>"
                            + "<td>" + formattedstdate1 + "_" + item.B_Name + "_" + item.T_Name + "_" + item.F_Name + "</td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.T_Name + "</td>"
                            + "<td>" + formattedstdate + "</td>"
                            + "<td>" + formattedcrdate + "</td>"
                            + "<td><span class='badge bg-danger'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                   
                    }
                    else if (item.Status == "Complete") {
                        $("#tblbatch").append("<tr>"
                            + "<td>" + item.B_ID + "</td>"
                            + "<td>" + formattedstdate1 + "_" + item.B_Name + "_" + item.T_Name + "_" + item.F_Name + "</td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.T_Name + "</td>"
                            + "<td>" + formattedstdate + "</td>"
                            + "<td>" + formattedcrdate + "</td>"
                            + "<td><span class='badge bg-success'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                    else if (item.Status == "Running") {
                        $("#tblbatch").append("<tr>"
                            + "<td>" + item.B_ID + "</td>"
                            + "<td>" + formattedstdate1 + "_" + item.B_Name + "_" + item.T_Name + "_" + item.F_Name + "</td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.T_Name + "</td>"
                            + "<td>" + formattedstdate + "</td>"
                            + "<td>" + formattedcrdate + "</td>"
                            + "<td><span class='badge bg-warning'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                });
            }
        });

        $.ajax({
            url: "/admin/Admin/Getstudent",
            type: "GET",
            dataType: "json",
            success: function (studentlist) {
                $.each(studentlist, function (key, item) {
                    if (item.Status == "Pending") {
                        $("#tblstudent").append("<tr>"
                            + "<td>" + item.S_ID + "</td>"
                            + "<td><img src='/Images/" + item.S_img + "' style='width: 50px' /></td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.L_Name + "</td>"
                            + "<td>" + item.E_mail + "</td>"
                            + "<td>" + item.Address + "</td>"
                            + "<td>" + item.Satename + "</td>"
                            + "<td>" + item.Cityname + "</td>"
                            + "<td>" + item.Mobile + "</td>"
                            + "<td><span class='badge bg-danger'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                    else if (item.Status == "Complete") {
                        $("#tblstudent").append("<tr>"
                            + "<td>" + item.S_ID + "</td>"
                            + "<td><img src='/Images/" + item.S_img + "' style='width: 50px' /></td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.L_Name + "</td>"
                            + "<td>" + item.E_mail + "</td>"
                            + "<td>" + item.Address + "</td>"
                            + "<td>" + item.Satename + "</td>"
                            + "<td>" + item.Cityname + "</td>"
                            + "<td>" + item.Mobile + "</td>"
                            + "<td><span class='badge bg-success'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                    else if (item.Status == "Active") {
                        $("#tblstudent").append("<tr>"
                            + "<td>" + item.S_ID + "</td>"
                            + "<td><img src='/Images/" + item.S_img + "' style='width: 50px' /></td>"
                            + "<td>" + item.F_Name + "</td>"
                            + "<td>" + item.L_Name + "</td>"
                            + "<td>" + item.E_mail + "</td>"
                            + "<td>" + item.Address + "</td>"
                            + "<td>" + item.Satename + "</td>"
                            + "<td>" + item.Cityname + "</td>"
                            + "<td>" + item.Mobile + "</td>"
                            + "<td><span class='badge bg-warning'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                });
            }
        });
        $.ajax({
            url: "/Faculty/faculty/Gettasks",
            type: "GET",
            dataType: "json",
            success: function (tasklist) {
                console.log(tasklist);
                $.each(tasklist, function (key, item) {

                    var formattedCr_Date = null;
                    var formattedAct_Date = null;
                    if (item.Cr_Date != null) {
                        var crdate = (new Date(parseInt(item.Cr_Date.substr(6))));

                        const yyyy = crdate.getFullYear();
                        let mm = crdate.getMonth() + 1; // Months start at 0!
                        let dd = crdate.getDate();

                        if (dd < 10) dd = '0' + dd;
                        if (mm < 10) mm = '0' + mm;

                        formattedCr_Date = dd + '/' + mm + '/' + yyyy;
                    }
                    if (item.Act_Date != null) {
                        var actdate = (new Date(parseInt(item.Act_Date.substr(6))));

                        const yyyy = actdate.getFullYear();
                        let mm = actdate.getMonth() + 1; // Months start at 0!
                        let dd = actdate.getDate();

                        if (dd < 10) dd = '0' + dd;
                        if (mm < 10) mm = '0' + mm;

                        formattedAct_Date = dd + '/' + mm + '/' + yyyy;
                    }

                    //new Date(parseInt(item.B_ST_DATE(6)))
                    if (item.Status == "Pending") {
                        $("#tbltasks").append("<tr>"
                            + "<td>" + item.Task_ID + "</td>"
                            + "<td>" + item.Task_Desc + "</td>"
                            + "<td>" + item.facultyname + "</td>"
                           // + "<td>" + item.adminname + "</td>"
                            + "<td>" + formattedCr_Date + "</td>"
                            + "<td>" + formattedAct_Date + "</td>"
                            + "<td><span class='badge bg-danger'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");

                    }
                    else if (item.Status == "Complete") {
                        $("#tbltasks").append("<tr>"
                            + "<td>" + item.Task_ID + "</td>"
                            + "<td>" + item.Task_Desc + "</td>"
                            + "<td>" + item.facultyname + "</td>"
                           // + "<td>" + item.adminname + "</td>"
                            + "<td>" + formattedCr_Date + "</td>"
                            + "<td>" + formattedAct_Date + "</td>"
                            + "<td><span class='badge bg-success'>" + item.Status + "</span></td>"
                            //+ "<td><a href='/Default/Edit/" + item.F_ID + "'>Edit</a> | <a href='/Default/Delete/" + item.F_ID + "'>Delete</a></td>"
                            + "</tr>");
                    }
                });
            }
        });
    });
</script>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/Admin">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Reports <span>/Today</span></h5>

                                <!-- Line Chart -->
                                <div id="reportsChart"></div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                            series: [{
                                                name: 'Students',
                                                data: [31, 40, 28, 51, 42, 82, 56],
                                            }, {
                                                name: 'Facultie',
                                                data: [11, 32, 45, 32, 34, 52, 41]
                                            }, {
                                                name: 'Batches',
                                                data: [15, 11, 32, 18, 9, 24, 11]
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {
                                                type: 'datetime',
                                                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                            },
                                            tooltip: {
                                                x: {
                                                    format: 'dd/MM/yy HH:mm'
                                                },
                                            }
                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Faculty <span>| Details</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblfaculty">
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- End Recent Sales -->
                    <!--Batch Details Start-->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Batch <span>| Details</span></h5>
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Batch Name</th>
                                            <th scope="col">Faculty Name</th>
                                            <th scope="col">Technology</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">Create Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblbatch">
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!--Batch Details End-->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">Students <span>| Details</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">State</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblstudent">
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- End Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">Task <span>| Details</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Task ID</th>
                                            <th scope="col">Task Description</th>
                                            <th scope="col">Assign By</th>
                                            <th scope="col">Create Date</th>
                                            <th scope="col">Action Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbltasks">
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

</main><!-- End #main -->
